
body{
	background-color: #33CCEE;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 4em;
	letter-spacing: -2px;
}

h1,h2{
	text-align: center;
}

h3{
	text-align: center;
}

table
{
	margin: 0 auto;
}

.info-bar{
	width: 1000px;
	height: 200px;
}

.main{
	width:600px;
	height: 400px;
	float: left;
}

#hq_img{

	margin-left: 30px;
	float: left;
}

.address{

}

.address p{
	font-weight: bold;
	margin: 5px;
}

.hidden{
	display:none;
	visibility: hidden;
}

#next_button{
	position: relative;
	left: 19px;
	width: 578px;
	height: 50px;
	font-size: 2em;
}

#day_img{
	width: 600px;
}

button:disabled{
	color:black;
}

#day_tag
{
	font-size: 20pt;
}

#datecell{
	padding-left: 10px;
	text-align: none;
}

#date{
	text-align: left;
}